@media (min-width: 30em) {
  .index_header {
  margin-top: 7em;
}
.index_header_h1 {
  text-align: center;
}
.index_header_p {
  text-align: center;
}
}
.nav_issue {
  text-decoration: none;
  text-align: center;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 2em;
  border: .1em solid black;
  margin: .1em auto;
  height: 3em;
}
.index_nav {
  list-style-type: none;
}
